/* Main Report Pet Clickable Link */
.reportPet {
  width: 100vw;
  background-color: #482279;
  color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}
/* Report Pet Icon */
.reportPet svg {
  margin-right: 0.5rem;
}
/* Report Pet Link */
.reportContainer a {
  text-decoration: none;
}

/* Alert when on Report Pet page */
.reportPetAlert {
  width: 100vw;
  background-color: #e74040;
  color: white;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.reportPetAlert p {
  text-align: center;
}
