.reportPet {
  width: 100vw;
  background-color: #482279;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.reportPet svg {
  margin-right: 0.5rem;
}
.reportContainer a {
  text-decoration: none;
}

.reportPetAlert {
  width: 100vw;
  background-color: #E74040;
  color: white;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.reportPetAlert p {
  text-align: center;
}
