/* Navigation bar */
.navBar {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.5rem 1rem;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
  width: 100vw;
  background-color: #fcfcfc;
  z-index: 10;
}

/* Menu (Hamburger) Button */
.navBar button {
  border: none;
  background-color: transparent;
  color: black;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  font-weight: 10px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  border-radius: 0.5rem;
}
.navBar button:hover {
  background-color: #854ad0;
  color: white;
}

/* Links on the menu */
.menuNav {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 9;
  background-color: #854ad0;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding-top: 60px;
}
/* Links */
.menuNav a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  width: 95%;
  margin: 0 auto;
}
/* Links Hover */
.menuNav a:hover {
  color: rgb(236, 236, 236);
  background-color: #9365cf;
}
.menuNav a:active {
  background-color: #8a5ec4;
}
.icon {
  margin-right: 0.5rem;
}

.menuNav li {
  width: 100%;
  text-align: center;
}
/* Lines in the menu container */
.menuNav span {
  height: 1px;
  width: 95%;
  border: 1px solid #8d63c4;
}

/* Buttons Area (Menu and login) */
.buttonsArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* Login Link */
.buttonsArea a {
  margin-right: 1rem;
  text-decoration: none;
  color: #737272;
  font-weight: 600;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.buttonsArea a:hover {
  color: black;
}

/* PetFindr Logo */
.navBar h1 {
  font-size: 1.5rem;
  font-weight: 600;
}
.logo {
  text-decoration: none;
  color: black;
}

/* Paw Period */
.pawPeriod {
  font-size: 0.5rem;
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  color: black;
}
