.registerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.registerContainer svg {
  position: absolute;
  z-index: -1;
}
/* Register Box */
.registerBox {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
  max-width: 500px;
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2rem;
  margin: 2rem 2rem;
  margin-bottom: 8rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  border: 1px solid #c4c4c4;
}
/* Register a New Account Text */
.registerBox h2 {
  font-weight: 500;
  margin-bottom: 1rem;
}

/* Register Form */
.registerForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1rem auto;
  margin-bottom: 1rem;
  width: 100%;
}
.registerForm label {
  color: #242424;
  margin-bottom: 0.2rem;
}
.registerForm input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.registerForm input:hover {
  border: 1px solid black;
}
/* Register Button */
.registerForm button {
  width: 100%;
  padding: 0.4rem 1.5rem;
  margin: 0rem auto;
  margin-top: 1.5rem;
  border: 1px solid #854ad0;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  color: #854ad0;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 1.5rem;
  font-weight: 400;
}
.registerForm button:hover {
  background-color: #854ad0;
  color: white;
}

/* Small text */
.registerForm small {
  color: rgb(124, 124, 124);
  margin-bottom: 0.3rem;
  font-size: 0.65rem;
}

/* Login Link */
.registerBox span,
.registerBox a {
  color: rgba(124, 137, 255, 1);
  font-weight: 300;
  font-size: 1rem;
}

/* Password Match */
.passwordMatch {
  color: #f68f8f;
}

/* Success Message */
.successMessage {
  margin: 1rem auto;
  color: #8dc941;
}
