.loginContainer {
  height: 90vh;
  display: flex;
  justify-content: center;
}
.loginContainer svg {
  position: absolute;
  z-index: -1;
}
/* Login Box */
.loginBox {
  height: fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 2rem 3rem;
  margin: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #c4c4c4;
}
/* Welcome Back Text */
.loginBox h2 {
  font-weight: 500;
  margin-bottom: 1rem;
}

/* Login Form */
.loginForm {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  margin-bottom: 2rem;
  width: 100%;
}
.loginForm label {
  color: #202020;
  margin-bottom: 0.2rem;
}
.loginForm input {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  transition: all 0.2s ease;
}
.loginForm input:hover {
  border: 1px solid black;
}
/* Login Button */
.loginForm button {
  width: fit-content;
  padding: 0.4rem 1.5rem;
  margin: 1rem auto;
  border: 1px solid #44CB82;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  color: #44CB82;
  transition: all 0.2s ease;
}
.loginForm button:hover {
  background-color: #44CB82;
  color: white;
}

/* Register Link */
.loginBox span,
.loginBox a {
  color: rgba(124, 137, 255, 1);
  font-weight: 300;
  font-size: 1rem;
}

/* Error Message */
.errMsg {
  color: #E74040;
}