main {
  padding-top: 60px;
}
.paw-one {
  position: fixed;
  z-index: -10;
  font-size: 400px;
  transform: rotate(-48.55deg);
  margin-top: 20vh;
  margin-left: 60%;
  color: #ec8b3038;
}
.paw-two {
  position: fixed;
  z-index: -10;
  font-size: 400px;
  transform: rotate(-48.55deg);
  margin-top: 70vh;
  margin-left: 10%;
  color: #ec8b3038;
}
